ul,li,a,input{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    height: 50px;
    line-height: 50px;
}
a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
/* topic.js-start */
.header{
    width: 100%;
    height: auto;
}

.main, .details{
    width: 70%;
    height: auto;
    position: relative;

    padding:10px 30px 10px;
    margin: 20px auto 0;
    border-radius: 3px;
    background-color: #fff;
}
.main{
    min-height: 550px; 
    /* 避免每次刷新时盒子没有高度造成的问题 */
}
.main-list li{
    width: 100%;
    display: block;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
}
.main-list a:hover{
    color:blue;
    cursor: pointer;
    text-decoration-style: solid;
}
/* tab - start */
.filter{
    width: 100%;
    height: 30px;
    line-height: 30px;
    color:green;
    overflow: hidden;

}
.filter-item{
    width:60px;
    float: left;
    text-align: center;
}
.filter-item.active{
    background-color: rgb(224, 215, 215);
    border-radius: 4px;
}
/* tab - end */

/* button-nav */
.change_page{
    width: 100%;
    background-color: #fff;
    font-size: 13px;
}
.change_page button.pre,.change_page button.next{
    width: 60px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    background-color:rgb(81, 170, 81); 
    border-radius: 3px;
    text-align: center;
    color: #fff;
}
.change_page button{
    width: 30px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
}
.change_page button.not-click, button.go{
    display: inline-block;
    width: 30px;
    height: 25px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;
    background-color:rgb(81, 170, 81); 
}
.change_page button.go{
    margin-left:15px;
}

.change_page button + button{
    margin-left: 15px;
}
.change_page input{
    width: 60px;
    height: 20px;

}
/* button-nav */
/* topic.js-end */

/* detail.js-start */
.title{
    font-weight: 800;
}

.backToList{
    position: fixed;
    top: 80px;
    right: 170px;
    background-color: rgb(81, 170, 81);
    color: #fff;

    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;
}

/* comment-start */
.detail-wrap{
    min-height: 550px; 
    /* 避免每次刷新时盒子没有高度造成的问题 */
}
.comment{
    width: 70%;
    height: auto;

    padding:10px 30px 10px;
    margin: 20px auto 0;
    border-radius: 3px;
    background-color: #fff;
}

.comment-sum{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid rgb(235, 228, 228);
    margin-bottom: 15px;
}
.comment-list{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
   
}
.comment-list img{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    float: left;
}
.comment-list-title{
    font-weight: 600;
    color: rgb(53, 146, 53);
}
.comment-list-content{
    width: 90%;
    font-size: 13px;
    float: left;
    margin-left: 20px;
    border-bottom: 1px solid rgb(235, 228, 228);
}
/* comment-end */

/* detail.js-end */
